@import url('./common/common.css');
@import url('./common/reset.css');

.app {
    position: relative;
}



/* ========================메인 현재날씨========================== */
.main {
    background: linear-gradient(to bottom, #CFFFF1 0%, #00CE93 77%, #12A77C 100%);
    height: 100%;
    padding:0 21px;
}

.mainCurrentWeather {
    text-align: center;
    padding-top:76px;
}

.mainCurrentWeather h3 {
    font-size: 60px;
}

.mainCurrentWeather p:nth-of-type(1) {
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
    
}

.mainCurrentWeather p:nth-of-type(2) {
    font-size: 18px;
    font-weight: 300;
}

.mainSetting {
    position: absolute;
    top: 76px;
    right: 21px;
}


/* =========================중간컨텐츠======================== */

.contents {}

.weather {position:relative;width: 300px;}
.cloud {
    position:absolute;
    width: 300px;
margin-left:70px;
z-index:2;
}
.rain_drop-container{/* 물방울들 움직일 영역 */
    position:absolute;
    top:310px;
    margin-left:180px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    
}
.drop{
    position: absolute;
    width: 12px;
    animation:rain 0.3s ease-in infinite;
}
@keyframes rain {
    from{transform:translateY(-20px);
    opacity:1;}
    to{transform:translateY(200px);
    opacity:0;}
}


.charcter img {
    position:relative;
    z-index:3;
    width: 250px;
    margin-left:-5px;
    margin-top:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.item img {
    width: 88px;
    height: 88px;
    margin-left:40px;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.1));
}

.item img span {}

.item {
    display: flex;
    flex-direction: column;
    background: #eeeeee;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    justify-content: center;
    position: absolute;
    bottom: 17%;
    right: 5%;
}

.contents p:nth-child(3) img {}

.contents p:nth-child(3) img span {}


/* ==============================처음에만 성별 선택=========================== */
.onboarding {
    height: 100%;
    background-color: white;
    text-align: center;
    padding:0 21px;
    border-radius: 30px;
}

.onboarding section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.onboarding section>div{
    padding-top: 76px;
    }

.onboarding b {
    font-size: 20px;
    line-height: 1.6;
}

.onboarding p {
    font-size: 15px;
    color: #515151;
    padding-top: 32px;
}

.genderSelect {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.genderOption {}

.genderOption input {
    display: none;
}

.genderOption input:checked+span {
    background-color: #8FEBD0;
    border: 1.5px solid #00CE93;
}/* span은 input의 자식이 아니라 형제이므로 '+' */

.genderOption span {
    padding: 13px 0;
    border: 1.5px solid #EEEEEE;
    text-align:center;
    display: inline-block;
    border-radius: 40px;
    font-size: 12px;
    width: 175px;
}

.onboarding button {
    margin-top: auto;
    margin-bottom: 40px;
    background-color: #EEEEEE;
    padding: 15px 0;
    width: 359px;
    border-radius: 40px;
    color: #BDBDBD;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Pretendard', sans-serif;
}

.onboarding button.active {
    margin-top: auto;
    margin-bottom: 40px;
    background-color: #00CE93;
    padding: 15px 0;
    width: 359px;
    border-radius: 40px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Pretendard', sans-serif;
}


