@import url('./common.css/common.css');
.app{position:relative;}
.navBar{
    display: flex; gap:8%;
    background:rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(102, 102, 102, 0.3);  
    border-radius: 30px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    color:white;
    justify-content:center;
    width:80%;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    bottom:5%;
}
.navBar p{content:'';}
.navBar p img{}
.navBar p span{font-size:11px;}

/* ===============메인현재날씨====================== */
.mainCurrentWeather{text-align:center;}


.img{padding:500px 100px;}