@import url('./common/common.css');
@import url('./common/reset.css');

/* 플레이리스트 가로 슬라이드 */
.swiper {
    width: 180px;
    height: 220px;
    overflow: visible !important;
    
}
.swiper-wrapper{
    gap: 15px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
   
    object-fit: cover;
}

/* ---- article 클래스 "app" ------*/
.app {
    width: 402px;
    height: 774px;
    margin: 0 auto;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.txt h2 {
    font-weight: bold;
    font-size: 20px;
}

/* --------- 음악 추천 (Lp) ---------- */
.title p {
    font-size: 14px;
    margin: 21px;
}

.playlist {
    width: 180px;
    height: 220px;
    margin: 21px;
    gap: 15px;
    display: flex;
    position: relative;

}

.playlist-box {
    width: 180px;
    height: 220px;
    gap: 15px;
    display: flex;
    position: relative;

}

.lp {
    position: absolute;
    width: 166px;
}

.lp-txt {
    width: 166px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
}

.lp-txt p {
    font-size: 13px;
    text-align: center;
    padding: 13px;

    color: rgb(0 206 147);
}


/* --------------- 야외활동 -------------------  */
.title2 {}

.section-title {
    font-size: 14px;
    margin: 25px 21px 13px;

}

.activity {
    margin-left: 21px;
}

.activity-card {
    gap: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.activity-card img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 10px;
}

.activity-text h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}

.activity-text .ex {
    display: flex;
}

.location {
    font-size: 12px;
    color: #777;
    margin: 5px;
    margin-left: 10px;
}

.desc {
    font-size: 12px;
    margin: 0;
    color: rgb(0 206 147);
}


/* ------------ 플레이리스트 팝업창 -------------*/
aside {
    width: 360px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 20px;
    justify-content: center;
    border: 0.5px solid black;

    /* display: none;    */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 20;

}

aside.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.modal-main-img {
    width: 320px;
    height: 230px;
    margin-left: 20px;
    margin-top: 15px;
    object-fit: cover;

}


.overlay {
    width: 402px;
    height: 774px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin: 0;

}



.overlay.active,
.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-list {
    font-size: 12px;
    margin-left: 21px;
}

/* 팝업 - 플레이리스트 제목 */
.popup {
    display: flex;
    padding: 21px;
}

.popup p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;

}

/* 음악 듣기 버튼 */
.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 6px;
    font-size: 12px;
}

.btn-area a {
    background: rgb(143, 235, 208);
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px;
    width: 120px;
    height: 33px;
    border-radius: 20px;
    text-align: center;
}

.btn-area a img {
    width: 20px;
    height: 16px;
    margin: 0;
    margin-right: 3px;
}

/* 닫기 */
.btn-area button {
    border: 1px solid rgb(143, 235, 208);
    background-color: white;
    color: black;
    width: 120px;
    height: 33px;
    border-radius: 20px;
    font-size: 12px;
}

/* 별 */
.modal .star-btn {
    width: 20px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: #bbb;
    margin: 0;
    padding: 0;

}

.modal .star-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal .star-btn.active {
    color: rgb(143, 235, 208);
    padding: 0;
    margin: 0;

}