@import url('./common/common.css');
@import url('./common/reset.css');

.app{position:relative;overflow: hidden;}
.scrap{padding:0 21px;}
.codiScrapSelect h3 {
    margin-bottom: 21px;
    font-size: 15px;
    font-weight: 500;
    
}
.codiScrapContainer{height: 180px; 
display: flex;width: 1000px;position: relative;
}
.codiScrapContainer p{height: 100%; width: 138px;
background-color: #ffffff;
border:2px dashed #f0f0f0;margin-right:10px;}
.codiScrapContainer span{
    font-size:14px;color:#888888;
    position:absolute;text-align: center;
    line-height: 1.4;
    top:40%;left:18%;transform: translate(-50%,-50%);
}
.codiScrapContainer a{position:absolute;
    font-size:14px;color:#2b2b2b;padding:10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    top:65%;left:18%;transform: translate(-50%,-50%);
    margin-top:10px;
    border:1px solid #eeeeee;
}

.musicScrapSelect{margin-top:30px;}
.musicScrapSelect h3 {
    margin-bottom: 21px;
    font-size: 15px;
    font-weight: 500;   
}
.musicScrapContainer{height: 180px; 
display: flex;width: 1000px;position: relative;}
.musicScrapContainer p{height: 100%; width: 138px;
background-color: #ffffff;
border:2px dashed #f0f0f0;margin-right:10px;}
.musicScrapContainer span{
    font-size:14px;color:#888888;
    position:absolute;text-align: center;
    line-height: 1.4;
    top:40%;left:18%;transform: translate(-50%,-50%);
}
.musicScrapContainer a{position:absolute;
    font-size:14px;color:#2b2b2b;padding:10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    top:65%;left:18%;transform: translate(-50%,-50%);
    margin-top:10px;
    border:1px solid #eeeeee;
}

