@import url('./common/common.css');
@import url('./common/reset.css');

.app {
    background: linear-gradient(to bottom, #CFFFF1 0%, #00CE93 77%, #12A77C 100%);
}




/* ======================= 일출/일몰 카드 ======================= */

.suncard {
    width: 90%;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 15px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a {
    position: relative;
    top: 22px;
    width: 200px;
    height: 70px;
    margin: 100px auto;
    transform-style: preserve-3d;
    transform: rotate(-180deg);
}

.rail {
    stroke: rgba(96, 96, 96, 1);
    stroke-linecap: round;
    stroke-dasharray: 50 50;
}

.progress {
    stroke: url(#gradient);
    stroke-linecap: round;
    stroke-dasharray: 50 50;
    animation: progressbar 5s linear;
}

.sun {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(40% - 17px);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: yellow;
    filter: drop-shadow(0 0 10px yellow);
    transform: rotate(0deg) translateX(80px);
    animation: sun 5s linear forwards;
}

@keyframes sun {
    from {}

    to {
        transform: rotate(180deg) translateX(80px);
    }
}


@keyframes progressbar {
    from {
        stroke-dasharray: 0, 100;
    }

    to {
        stroke-dasharray: 50, 50;
    }
}

.sun-info {
    margin: 0 auto;
    display: flex;
    position: relative;
    top: -85px;
}

.sunrise {
    padding: 0 50px;
}

.sunset {
    padding: 0 50px;
}

.label {
    display: flex;
    justify-content: center;
}

.label>p {
    font-size: 15px;
}

.label>small {
    font-size: 11px;
    padding: 0 5px 0;
    display: flex;
    align-items: flex-end;
}

h2 {
    margin: 3px 0 0;
    font-size: 25px;
}



/* ======================= 서브 날씨 정보 ======================= */

.sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 5px;
    width: 90%;
    margin: 0px auto;
}


.contents {
    margin: 0 auto;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    width: 175px;
    height: 87px;
}

.box1 {
    padding: 4px 10px;
}

.box1>p {
    font-size: 12px;
}

.box2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.box2>b {
    font-size: 30px;
}

.box2>b>small {
    font-size: 17px;
    font-weight: normal;
}

.sub .contents .box1 .box2>span {
    font-size: 35px;
}




/* ======================= 메뉴 버튼 ======================= */

.menubtn {
    margin: 21px auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    width: 90%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}