body {
  margin:0;
  background: #eee;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.app {
  width: 402px;
  height: 774px;
  margin: 0 auto;
  background: white;
  flex-shrink: 0;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 76px;
  position: relative;

}

.txt span {
  position: absolute;
  left: 0;
  font-size: 24px;
  cursor: pointer;
}

.txt>h2 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

/* ========================상단 미니 날씨바==================== */
.weatherBar {
  background-color: rgb(238, 238, 238);
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 16px;
  margin: 20px auto;
  width: 281px;
  height: 32px;
  justify-content: center;
}

.weatherBar .weatherBarIcon {
  font-size: 12px;
  display: flex;
}

.weatherBar .weatherBarIcon>span {
  font-size: 14px;
  margin-right:4px;
  line-height: 1.1;

}

.divider {
  width: 1px;
  height: 14px;
  background: #ccc;
  margin: 0 12px;
}

/* ========================하단 네비바==================== */
.navBar {
    display: flex;
    gap: 10%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(102, 102, 102, 0.3);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    width: 359px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index:100;
    bottom: 40px;
    
}
.navBar p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 1.3;
    color:white;
    fill:#ffffff;
}
.navBar p.active{
  color:#00CE93;
}
.navBar p.active svg{
fill:#00CE93;
}
.navBar p svg {
    width: 35px;
    display: block;
    padding: 2px 0;
    margin: 0 auto;
}
.navBar p:nth-of-type(1) span{
  margin-right:2px;
}
.navBar p:nth-of-type(2) svg{
    width: 37px;
    padding:0;
}
.navBar p:nth-of-type(2) span{
    padding-top:3px;
}
.navBar p span {
    font-size: 11px;
    padding: 1px 0;
    font-weight:200 ;
}
/* ===================================================== */